<section class="home-page">
    <div class="carousel-section-home-page">
      <!-- <img width="100%" src="/carousel/icdam.jpeg"/> -->
      <div>

      </div>
    </div>

  <div class="row about-conference">
    <div class="col-md-8">

      <div >
        <div class="left">
         <!--  <form action="/icicc2019.pdf">
              <input type="submit" value="Proceeding of ICICC-2019" />
          </form>
          <br>
          <form action="/E-ProceedingofICICC-2018.pdf">
              <input type="submit" value="Proceeding of ICICC-2018" />
          </form> -->

          <h1 class="custom-font">Aim of Doctoral Symposium:</h1>
          <p>
          The 2nd Doctoral Symposium on Computational Intelligence (DoSCI-2021) is organised with the objective of bringing together innovative scientists, professors, research scholars, students and industrial experts in the field of Computational Intelligence to a common forum. The primary objectives of the Doctoral Symposium are:
          </p>
          <div>
            <ul class="list-group">
              <li class="list-group-item">To provide a platform for sharing the research ideas on an international level.</li>
              <li class="list-group-item">To provide a platform to meet domain experts to discuss research concepts, methodologies and career issues.</li>
              <li class="list-group-item">To provide a platform for scholars to make informal networks with their peers from other institutes.</li>
              <li class="list-group-item">To discuss the real life benefits of the research work done for human welfare in the light of research done during Ph.D.</li>
              <li class="list-group-item">To apply the research developed during the PhD in other inter-disciplinary areas.</li>
              <li class="list-group-item"> Will allow the researchers who have just completed the research work of their PhD to explore the new areas coming out of their completed research work by publishing a novel work stating the future of their research work.</li>
              <li class="list-group-item">Will give new light, ideas and dimension to the researchers doing their PhD by presenting their future work.</li>
              <li class="list-group-item">It is an opportunity for the people who have completed their PhD to summarize their research work into a single paper explaining the journey of their research with the most important result works and possible future areas coming out of their research work (Phd++).</li>
              <li class="list-group-item">A panel comprised of high profile national and international researchers will give the author suggestions for the future direction of your research work after the careful examination of your work.</li>
            </ul>
          </div>  
          <p class="text-danger"><b>All the accepted papers (after double blinded peer review) are published in Springer (Proposed) and extended selected papers will be published in the special issues of SCI/SCOPUS/WoS/DBLP/ACM indexed Journals.</b></p>
        </div>
        <p> Submission link: <a href="https://easychair.org/conferences/?conf=dosci2021" target="_blank">Easy Chair Submission Portal</a><p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h1 class="custom-font"> Downloads</h1>
        <hr>
        <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
          <%@downloads.each do |download|%>
          <%=link_to url_for(controller: "home", action: "download", filename: download.download_file) do %>
          <%=download.file_name.titleize%> <i class="fa fa-download" aria-hidden="true"></i>
          <%end%>
          <br> <hr>
          <%end%>
        </marquee>
        <span> <a href="/downloads_page">See More...</a> </span>
      </div>

    </div>
  </div>
  <br>
  <div class="row imp-dates-notice">
    <div class="col-md-6">
      <div class="box">
        <h1 class="custom-font">Important Dates</h1>
        <hr>
        <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
          <% @important_dates.each do |impdate| %>
          <b><%= impdate.title %></b>
          <br>
          <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
          <br><hr />
          <% end %>
        </marquee>
        <span> <a href="/important_dates">Read More...</a> </span>
      </div>
    </div>


    <div class="col-md-6">
      <div class="box">
        <h1 class="custom-font">Notices</h1>
        <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
          <%@newsupdate.each do |news|%>
          <b><%=news.news%></b> <br><br>
          <hr>
          <%end%>
        </marquee>
      </div>
    </div>

  </div>

  <br>

  <!-- <div class="row proceeding-partners">

    <br><br>

    <%= render "proceeding_partners"%>

  </div> -->

   <!-- <div class="row publish-partner">

    <br><br>

    <%= render "publish_partner"%>


  </div> -->

<!---
  <div class="row key-note">


    <%= render "key_note"%>

  </div>

  
  <div class="row sponsored-by">

    <br><br>

    <%= render "supported_by"%>


  </div>

  <div class="row publish-partner">

    <br><br>

    <%= render "our_sponsors"%>


  </div>
  --->

  <!-- <div class="row" id="sponsors-and-papers">
  <div class="col-md-6">
  <h2>Sponsors</h2>

  <% @sponsors.each do |sponsor| %>
  <div class="col-md-4">
  <img src="<%="/sponsors/" + sponsor.image%>">
  <span class="card-title activator grey-text text-darken-1"><%= sponsor.caption.titleize %></span>
</div>
<%end%>

</div>
<div class="col-md-6">
<h2>Paper Submission</h2>

<% @papersubmission.each do |papersubmission| %>

<a href="https://easychair.org/conferences/?conf=icicc2018"><img src="<%="/PaperSubmission/" + papersubmission.url%>" ></a>

<% end %>

</div>
</div> -->
</section>